@media(max-width: 1600px){
    .container{
        padding:  10px 250px;
    }

    .nav-item{
        font-size: 12px;
        letter-spacing: 2px;

        img{
            height: 30px !important;
        }
    }
}

@media(max-width: 100px) {
    .nav-item{
        text-align: center;
    }
}

@media (max-width: 900px) {
    .container{
        padding: 10px 20px;
    }

    .nav-item{
        text-align: center;
    }
}

.navbar{
    background-color: rgb(216, 216, 216);
}