.footer h3{
    text-decoration: none !important;
}

.footer{
    background-color: rgb(236, 234, 234);
}

.col-md-6{
    text-align: center;
    cursor: pointer;

    img{
        height: 50px;
    }
}

@media(max-width: 1600px){
    .container{
        padding: 0 250px;
    }
}
