.home{
    padding-top: 6rem;

    .login-info{
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 1rem 0 ;
        text-align: center;
        flex-direction: column;

        h3{
            font-size: 0.7rem;
            color:  #dc3545;
            font-weight: 600;
            letter-spacing: 1.08px;
        }

        button{
            border-radius: 10px;
            padding: 0.8rem 2rem;
            border: 1px solid #19814a;
            color: #19814a;
            letter-spacing: 1.06px;
            font-weight: 600;
            font-size: 0.7rem;
        }

        .signup{
            background-color: #19814a;
            color: white;
        }

        button:hover{
            background: #19814a;
            color: white;
        }
    }

    .carousel{

        img{
            width: 600px !important;
            height: 25rem;
            border-radius: 10px;
            margin: auto;
        }
    }

    .search{
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 1rem;
        text-decoration: none;
        display: none;

        input{
            border-radius: 100px;
            padding: 0.5rem 2rem;
            font-size: 0.7rem;
            font-weight: 700;
            letter-spacing: 1.08px;
            border: 1px solid  #198754;
            color:  #198754;
        }

        input::placeholder{
            color: #259a63;
        }
    }

    .latest{
        .head{
            font-size: 1.5rem;
            margin: 2rem 3rem;
            color: #19814a;
        }
    }

    .subscribe{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        h3{
            text-align: center;
            font-size: 1.3rem;
            font-weight: 600;
            letter-spacing: 1.05px;
        }

        input{
           margin: auto;
           width: min(400px, 80%);
        }

        button{
            margin-top: 1rem;
            background-color: #19814a;
            color: white;
        }
    }
}

.dark{
    background-color: var(--dark);

    .card{
        background-color: var(--dark) !important;
        color: var(--light) !important;

        .title{
            color: var(--light);
        }
    }
}
@media (max-width: 900px) {
 .home{
    
    .login-info{
        button{
            padding: 0.6rem 2rem;
        }
    }

    .carousel{

        img{
            width: 300px !important;
            height: 20rem;
        }
    }

    .search{

        input{
            border-radius: 10px;
            padding: 1rem 2rem;
            font-size: 0.7rem;
            font-weight: 700;
            letter-spacing: 1.08px;
            border: 1px solid  #198754;
            color:  #198754;
            width: min(600px, 90%);
        }

    }

    .latest{
        .head{
            margin: 0.5rem 0;
        }
    }

    .subscribe{


        button{
            border: none;
            margin-top: 1rem;
            border-radius: 100px;
            padding: 0.5rem 2rem;
            background-color: #19814a;
            color: white;
            font-weight: 600;
            letter-spacing: 1.06px;
        }
    }
 }

 .dark{
    background-color: var(--dark);
 }
}