.cart{
    padding-top: 5rem;
    height: 100vh;
    overflow: auto;

    .head{
        display: flex;
        width: 100%;
        padding: 0.3rem;
        justify-content: space-between;
        align-items: center;

        .bi{
            text-decoration: none;
            font-size: 1.3rem;
            color: grey;
            border-radius: 50px;
            padding: 0.5rem 1rem;
            transition: 200ms ease;
        }

        .bi:hover{
            background-color: rgb(155, 155, 155);
            color: white;
        }

        h1{
            color: #198754;
            font-weight: 600;
            letter-spacing: 1.07px;
            margin: 0;
            font-size: 1.1rem;
        }

    }

    .clear{
        display: flex;
        justify-content: end;
        align-items: center;

        button{
            border: none;
            background: none;
            color: #dc3545;
        }
    }

    .grid{
        grid-template-columns: 1fr !important;

        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: none;
            margin-bottom: 1rem;
            border-radius: 20px;
            width: min(1000px, 90%);
            margin: auto;
            background-color: #edfbff;
            padding: 0.4rem 0;
            transition: 0.3s;

                .top{
                display: flex;
                justify-content: end;
                align-items: center;
                width: 100%;
                padding-right: 0.5rem;

                button{
                    border: none;
                    border-radius: 100px;
                    padding: 0.3rem 1rem;
                    font-size: 0.8rem;
                    margin: 0.5rem 0;
                    color: #dc3545;
                    font-weight: 600;
                    background:#ffd4d8;
                }

                button:hover{
                    background: #fca4ad;
                }
          
            }

            .card-body{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 0.5rem;
                width: 100%;
                text-decoration: none;

                .right{
                    width: 30%;
                    display: flex;
                    align-items: start;
                    justify-content: center;
                 
                    img{
                        width: min(200px, 90%);
                        border-radius: 10px;
                        object-fit: cover;
                        height: 200px;
                    }
                }

                .left{
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: space-between;

                    h1{
                        font-size: 1.3rem;
                        width: 100%;
                    }

                    h3{
                        font-size: 1.1rem;
                        color: #19814a;
                    }

                    .color{
                        color: var(--secondary);
                    }
                }
            }
        }

        .card:hover{
            scale: 1.02;
        }
    }

    .checkout{
        display: flex;
        align-items: center;
        justify-content: center;
        
        .btn{
            margin: auto;
            border-radius: 100px;
            border: 1px solid #19814a;
            color: #19814a;
            margin-top: 0.5rem;
            font-weight: 600;
            letter-spacing: 1.1px;
            font-size: 1rem;
        }

        .btn:hover{
            background-color: #19814a;
            color: white;
        }
    }
}

.cart::-webkit-scrollbar{
    display: none;
}
@media (max-width: 900px) {
    .cart{

        .head{
    
            .bi:hover{
                background-color: rgb(155, 155, 155);
                color: white;
            }


        }

        .grid{
            margin-top: 0.6rem;

            .card{

                .card-body{

                    .right{
                        img{
                            height: 100px;
                        }
                    }
                }
            }
        }

    }
}

