.searchit{
        padding-top: 6rem;
        height: 100vh;
        overflow: auto;

        .head{
            display: flex;
            align-items: center;
            justify-content: center;

           input{
            margin: auto;
            width: min(1000px, 50%);
           }
        }


        .error{
            text-align: center;
            color: #dc3545;
            width: 100%;
        }

        .category{
            display: flex;
            justify-content: space-evenly;
            margin: 1rem 0;

            .cat{
                padding: 1rem 2rem;
                border: 1px solid #198754;
                border-radius:150px;
                color: #198754;
                font-weight: 600;
                letter-spacing: 1.07px;
                font-size: 0.7rem !important;
            }

            .cate{
                background-color: #198754;
                color: white;
            }
        }
}

.searchit::-webkit-scrollbar{
    display: none;
}

@media (max-width: 900px) {
    .searchit{

        .head{
            input{
            width: min(600px, 90%);
            }
        }

        .category{

            .cat{
                padding: 0.7rem 1rem;
            }
        }
    }
}