body {
  margin: 0;
  font-family: 'SanFa',sans-serif !important;
  user-select: none;
  height: 100vh;
 }

@font-face {
  font-family: 'SanFa';
  src: url("SFNSDisplay-Regular.otf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

body::-webkit-scrollbar{
  display: none;
}

:root{
    --bright-blue: #51e2f5;
    --blue-green: #9df9ef;
    --dusty-white: #edf756;
    --pink-sand: #ffa8B6;
    
    --ice-cold: #a0d2eb;
    --freeze-purple: #e5eaf5;
    --medium-purple: #d0bdf4;
    --purple-rain: #8458B3;
    --heaxvy-purple: #a28089;

    --brightly-orange: #ff1e00;
    --dimly-blue: #e8f9fd;
    --alet-highlight-green :#59ce8f;

    --grey-bluee-green: #c2edda;
    --live-green: #68d388;

    --bright-green: #beef00;

    --background-tan: #fceed1;
    --purple-y: #7d3cff;
    --yellow-gloves: #f2d53c;
    --redhead: #c80e13;

    --night-blue: #2d545e;
    --night-blue-shadow: #12343b;

    --ragin-beige: #fff5d7;
    --sleuthe-yellow: #feb300;

      --primary: #0d6efd;
    --secondary: #6c757d;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark : #212529;

    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
}

input:focus{
  outline: none;
}
