.login, .register{
    overflow: hidden;
    
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    overflow: hidden;
    }

    .head{
        
        h1{
            border-radius: 100px;
            padding: 0.5rem 1rem;
            margin: 0;
            color: #19814a;
            font-weight: 700;
            letter-spacing: 1.1px;
            font-size: 1.5em;
        }
    }

    .input-groups{
        margin-top: 1rem;
    }

    input{
        width: min(400px, 98%);
        padding: 1rem 2rem;
        background-color: #c5f8ddfd;
        border: none;
    }

    .submit{
        text-align: center;
        margin-top: 2rem;

        .btn{
            padding: 1rem 2rem;
            font-weight: 700;
            letter-spacing: 1.07px;
            font-size: 1rem;
            border: 1px solid #19814a;
            border-radius: 10px;
            color: #19814a;
            width: min(300px, 98%);
        }

        .btn:hover{
            background-color: #19814a;
            color: white;
        }
    }

    .refer{
        text-align: center;

        h3{
            font-size: 1rem;
            margin-top: 1rem;
        }
    }
}
