.footer{
   background-color: var(--dark);
   
    .container{
        color: white;
        display: flex;
        padding: 1rem;
        border-radius: 10px;
        align-items: center;
        justify-content: space-around;

        h3{
            font-size: 1.3rem;
            margin: 0;
            font-weight: 600;
            letter-spacing: 1.06px;
        }
    }
}

@media (max-width: 900px) {
    .footer{

        .container{
            flex-direction: column;
        }

        h3{
            font-size: 0.7rem !important;
            text-align: center;
        }

        a{
            font-size: 0.7rem !important;
        }
    }
}